{
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"modules": false
			}
		]
	],
	"plugins": [
		[
			"babel-plugin-styled-components",
			{
				"ssr": true
			}
		],
		"react-docgen",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-syntax-dynamic-import"
	],
	"env": {
		"test": {
			"presets": ["@babel/preset-react", "@babel/preset-env"],
			"plugins": [
				[
					"babel-plugin-styled-components",
					{
						"ssr": true
					}
				],
				"@babel/plugin-proposal-class-properties",
				"@babel/plugin-syntax-dynamic-import"
			]
		}
	}
}
