{
	"extends": ["faithlife"],
	"rules": {
		"react/jsx-no-literals": "off",
		"react/display-name": "off",
		"no-console": ["error", {"allow": ["error", "warn"]}]
	},
	"env": {
		"jest": true
	},
	"overrides": [
		{
			"files": ["components/**"],
			"excludedFiles": "*.test.js",
			"rules": {
				"no-unsanitized/method": false
			}
		}
	]
}
