.vs/
*.csproj.user
*.DotSettings.user
*.dat
*.err
*.map.css
*.min.css
*.rej
*.suo
*.err.txt
*.log
stats.json

/*.patch

node_modules/

UnitTestFailure.log
DeploymentFailure.log
npm-*

packages/*/dist
dist/

#Ignore yalc used for local package dev
.yalc
yalc.loc
