$flGray: #575251;

$white: #fff;
$gray4: #f5f5f5;
$gray8: #ebebeb;
$gray14: #dbdbdb;
$gray22: #c7c7c7;
$gray34: #a8a8a8;
$gray52: #7a7a7a;
$gray66: #3d3d3d;
$Black: #000;

$purpleTint: #f4f0f9;
$purpleLight: #b69bd3;
$purpleBase: #6f4a97;
$purpleDark: #503271;

$blueTint: #ebf7ff;
$blueLight: #79cafb;
$blueBase: #1e91d6;
$blueDark: #0174b9;
$blueActive: #1d6ca1;

$greenTint: #e9f8e1;
$greenLight: #8fdb6b;
$greenBase: #62bb46;
$greenDark: #429c1c;

$yellowTint: #fff8e0;
$yellowLight: #fedb62;
$yellowBase: #daa007;
$yellowDark: #b58300;

$orangeTint: #ffeee0;
$orangeLight: #ffaf6f;
$orangeBase: #e97732;
$orangeDark: #c9550f;

$redTint: #fdebeb;
$redLight: #ee7878;
$redBase: #d94848;
$redDark: #bd2929;

$borderColor: #a8a8a8;
