// New colors from Zeplin Swatches

@fl-gray: #575251;

@white: #fff;
@gray4: #f5f5f5;
@gray8: #EBEBEB;
@gray14: #DBDBDB;
@gray22: #C7C7C7;
@gray34: #A8A8A8;
@gray52: #7A7A7A;
@gray66: #3D3D3D;
@Black: #000;

@purple-tint: #f4f0f9;
@purple-light: #b69bd3;
@purple-base: #6f4a97;
@purple-dark: #503271;

@blue-tint: #ebf7ff;
@blue-light: #79cafb;
@blue-base: #1e91d6;
@blue-dark: #0174b9;

@green-tint: #e9f8e1;
@green-light: #8fdb6b;
@green-base: #62bb46;
@green-dark: #429c1c;

@yellow-tint: #fff8e0;
@yellow-light: #fedb62;
@yellow-base: #daa007;
@yellow-dark: #b58300;

@orange-tint: #ffeee0;
@orange-light: #ffaf6f;
@orange-base: #e97732;
@orange-dark: #c9550f;

@red-tint: #fdebeb;
@red-light: #ee7878;
@red-base: #d94848;
@red-dark: #bd2929;

// Untitled

@shade0: #ffffff;
@shade25: #F4F4F4;
@shade35: #D4D0CF;
@shade50: #95908F;
@shade75: #585250;
@dark-blue: #0174B9;
@blue: #1E91D6;
@light-blue: #DFE9F0;
@orange: #E97732;
@dark-yellow: #DAA007;
@red: #D94848;
@faithlife-green: #62BB46;
@light-green: #8FDB6B;

@sidebar-background-color: @shade25;
@secondary-background-color: @shade35;
@border-color: #a8a8a8;

@item-hover-color: @light-blue;

@drop-down-border-color: @shade25;
@error-border-color: @red;
@selected-color: @blue;

@mask-color: rgba(0,0,0,0.45);

// Background
@modal-background-color: white;
@dark-background-color: #c7c7c7;

// Buttons
@primary-default: @blue;
@primary-hover: @dark-blue;
@secondary-default: @shade75;
@disabled-button-color: @shade35;
@minor-default: @shade25;
@minor-hover: #e6e6e6;
@minor-border: @shade35;

// Box Shadow
@box-shadow-color: rgba(0,0,0,0.1);
@box-shadow-blur: 4px;
@default-box-shadow: 0 2px @box-shadow-blur 0 @box-shadow-color;

// Icons
@black-icon-color: @shade75;
@dark-gray-icon-color: @shade50;
@light-gray-icon-color: @shade35;

// Input
@input-border-color: @shade25;
@input-dark-border-color: #95908f;
@input-focused-border-color: @blue;
@input-checked-color: @blue;
@input-focused-shadow-color: #d0e6f6;

// Text
@font-color: @shade75;
@font-color-light: @shade50;
@font-color-white: @shade25;
@highlight-color: @faithlife-green;
@link-color: @blue;
@error-color: @red;
@success-color: @blue;
@delete-color: @red;

// Website Option colors
@color-option-1-primary-color: #5a748a;
@color-option-1-secondary-color: #3d5160;
@color-option-2-primary-color: #4fb32f;
@color-option-2-secondary-color: #393939;
@color-option-3-primary-color: #78451c;
@color-option-3-secondary-color: #c4a07e;
