// Ported from https://git/Logos/Faithlife/blob/4947324240126070a754c95c160e61382b9e887b/src/Faithlife.Web/Content/Styles/common/common.mixins.less#L16

@import '../shared-styles/thickness.less';
@import '../shared-styles/colors.less';

@primary-hover: #6db3e2;
@primary-active: #1D6CA1;
@primary-disabled: #bedcf2;

.button {
	box-shadow: none;
	border-radius: 3px;
	margin: 0;
	padding: @thickness-3 10px;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.25s ease 0s;
	white-space: nowrap;

	&:focus {
		outline: none;
	}
}

.primary {
	.button();
	border: 1px solid @primary-default;
	background-color: @primary-default;
	color: #fff;

	&:hover {
		border-color: @primary-hover;
		background-color: @primary-hover;
		color: #fff;
	}

	&:active {
		border-color: @primary-active;
		background-color: @primary-active;
		color: #fff;
	}

	&:disabled {
		border-color: @primary-disabled;
		background-color: @primary-disabled;
		cursor: default;
	}
}

.secondary {
	.button();
	border: 1px solid @primary-default;
	background: none;
	color: @primary-default;

	&:hover {
		border-color: @primary-hover;
		background-color: @primary-hover;
		color: #fff;
	}

	&:active {
		border-color: @primary-active;
		background-color: @primary-active;
		color: #fff;
	}

	&:disabled {
		border-color: @primary-disabled;
		background: none;
		color: @primary-disabled;
		cursor: default;
	}
}

.minor {
	.button();
	border: 1px solid @gray14;
	background-color: @gray4;
	color: @fl-gray;

	&:hover {
		border-color: @gray14;
		background-color: @gray14;
		color: @fl-gray;
	}

	&:active {
		border-color: @gray22;
		background-color: @gray22;
		color: @fl-gray;
	}

	&:disabled {
		border-color: @gray8;
		background-color: @white;
		color: @gray22;
		cursor: default;
	}
}

.small {
	padding: 6px @thickness-3;
}

.large {
	padding: @thickness-35 @thickness-4;
	font-size: 16px;
}

.extraLarge {
	padding: @thickness-4 @thickness-5;
	font-size: 24px;
}
